[mysqld]

# ==========================================
# UNIQUE SERVER ID
# ==========================================

server-id=1


# ==========================================
# BINARY LOGGING
# ==========================================

log-bin=mysql-bin


# ==========================================
# ROW-BASED REPLICATION
# ==========================================

binlog-format=ROW


# ==========================================
# DATABASE TO REPLICATE
# ==========================================

binlog-do-db=url_shortener


# ==========================================
# NETWORKING
# ==========================================

bind-address=0.0.0.0