[mysqld]

# ==========================================
# UNIQUE SERVER ID
# ==========================================

server-id=2


# ==========================================
# BINARY LOGGING
# ==========================================

log-bin=mysql-bin


# ==========================================
# ROW-BASED REPLICATION
# ==========================================

binlog-format=ROW


# ==========================================
# NETWORKING
# ==========================================

bind-address=0.0.0.0


# ==========================================
# REPLICA SETTINGS
# ==========================================

relay-log=mysql-relay-bin